@import (reference) '~antd/es/style/themes/index.less';

.displayCell {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #262626;
  font-size: 13px;
  vertical-align: middle;
}

.displayEmpty {
  color: #bfbfbf;
}

.displayTextarea {
  white-space: pre-wrap;
  word-break: break-word;
}
